# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# CSVs and large datasets
*.csv
*.tsv
*.h5
*.parquet
*.zip
*.json

# Kaggle input/output folders
kaggle/input/
kaggle/working/
kaggle/output/

# Logs
*.log
